{% extends 'base.html' %}

{% block content %}
  <div class="post-entry">
    <h2>{{ post.title }}</h2>
    <h4>by {{post.author}}</h4>
    <p>{{ post.body }}</p>
    <p><a href="{% url 'comment_new' post.pk %}">+ Add comment</a></p>
  </div>

  {% if post.author == user %}
    <p><a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a></p>
    <p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
  {% endif %}
  {% if user.is_authenticated %}
    {% for comment in post.comments.all %}
    ________
    <h4>{{comment.author}}</h4>
    {{comment}}
    <br>
    {% endfor %}
  {% endif %}
{% endblock content %}
